<div class="con">
  <div class="info">
    <h3 class="title">商务合作</h3>
    <div class="msg-group">
      <span class="name">公司邮箱</span>
      <span class="val text-blue">dengyunjia@gzyueyun.com</span></div>
    <div class="msg-group">
      <span class="name">公司网址</span>
      <span class="val text-blue">www.gzyueyun.com</span></div>
    <div class="msg-group">
      <span class="name">公司地址</span>
      <span class="val">广州市越秀区75号先烈中路穗丰大厦B202</span>
    </div>
  </div>
  <div class="vcode">
    <img src="/assets/img/2dcode.png">
    <div class="tel text-blue">
      <i class="icon-font">&#xe603;</i>
      <span class="val">020-37579981</span>
    </div>
  </div>
</div>
