.con {
  padding: 0 .6rem;
}

.content {
  font-size: .4rem;
  line-height: .68rem;
  margin: .8rem 0 1.8rem;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  float: left;
  width: 2.46rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

.centerItem {
  padding: 0 1rem;
}

.title {
  margin: 0;
  font-size: .36rem;
  font-weight: lighter;
  margin-bottom: .24rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}


