<div id="main-swiper-con" class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <home-page></home-page>
      <down-arrow></down-arrow>
    </div>
    <div class="swiper-slide">
      <page-header></page-header>
      <page-title [title]="data.about.title"></page-title>
      <about-page></about-page>
      <page-footer></page-footer>
      <down-arrow></down-arrow>
    </div>
    <div class="swiper-slide">
      <page-header></page-header>
      <page-title [title]="data.service.title"></page-title>
      <service-page></service-page>
      <page-footer></page-footer>
      <down-arrow></down-arrow>
    </div>
    <div class="swiper-slide">
      <page-header></page-header>
      <page-title [title]="data.partner.title"></page-title>
      <partner-page></partner-page>
      <page-footer></page-footer>
      <down-arrow></down-arrow>
    </div>
    <div class="swiper-slide">
      <page-header></page-header>
      <page-title [title]="data.case.title"></page-title>
      <case-page></case-page>
      <page-footer></page-footer>
      <down-arrow></down-arrow>
    </div>
    <div class="swiper-slide">
      <page-header></page-header>
      <page-title [title]="data.contact.title"></page-title>
      <contact-page></contact-page>
      <main-footer></main-footer>
    </div>
  </div>
</div>
